@import "libs/minireset.scss";
// colors
$yellow:#ffba00; //section about
$red:#e9003a; //section project
$purple:#7342fa; //skills
$white:#f6f6f6; //color
$black:#363636; //mainbackground
$blue:#086cca; //button
$nav:#1b1b1b; //nav background
h1,
h2 {
    width: 100%;
    text-align: center;
}

h2,
h3 {
    font-size: 3rem;
}

body {
    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

#container {
    max-width: 1300px;
    width: 100%;
}

a {
    color: $white;
    text-decoration: none;
}

.btn {
    text-align: center;
    border: solid 0.15rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-transform: uppercase;
    background-color: $blue;
    &:hover {
        color: darken($color: $white, $amount: 82);
        background-color: lighten($color: $blue, $amount: 30);
    }
}

section {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: $nav;
    height: 3rem;
    max-width: 1300px;
    header {
        padding-left: 1rem;
    }
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 1rem;
}

nav ul li {
    padding: 0.7rem;
    text-transform: uppercase;
}

section header {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 4rem;
}

#welcome-section {
    h1 {
        width: 100%;
        font-size: 4rem;
        padding-bottom: 10%;
    }
    h2 {
        width: 100%;
        font-size: 2rem;
        padding-bottom: 10%;
    }
    align-items: center;
    a {
        display: block;
        text-align: center;
        margin-left: 35%;
        margin-right: 35%;
        transition: 0.6s;
        &:hover {
            margin-left: 25%;
            margin-right: 25%;
        }
    }
}

#about {
    background-color: $yellow;
    text-align: center;
    h4 {
        margin-bottom: 6rem;
        font-size: 1.3rem;
    }
    #skills {
        display: flex;
        justify-content: center;
        ul {
            width: 20%;
            li {
                height: 26px;
                text-transform: uppercase;
            }
        }
    }
}

//projects
.value {
    margin-top: 3px;
    background-color: $red;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    text-indent: -9999px;
}

.total {
    margin-top: 3px;
    background-color: $white;
    height: 20px;
    display: inline-block;
    text-indent: -9999px;
    line-height: 26px;
}

.skilltxt {
    line-height: 26px;
    height: 20px;
    width: 150px;
    flex: none;
    display: inline-block;
}

//html
#htmlval {
    width: 70px;
}

#htmltot {
    width: 30px;
}

//css
#cssval {
    width: 70px;
}

#csstot {
    width: 30px;
}

//javascript
#javascriptval {
    width: 50px;
}

#javascripttot {
    width: 50px;
}

//sass
#sassval {
    width: 50px;
}

#sasstot {
    width: 50px;
}

//Jquery
#jqueryval {
    width: 20px;
}

#jquerytot {
    width: 80px;
}

//react
#reactval {
    width: 1px;
}

#reacttot {
    width: 99px;
}

//python
#pythonval {
    width: 1px;
}

#pythontot {
    width: 99px;
}

#projects {
    background-color: $red;
    height: 100%;
    header {
        height: 5rem;
        display: block;
        padding-bottom: 5rem;
    }
    article {
        width: 95%;
        display: flex;
        flex-direction: column;
        .under-section {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0.3rem;
            padding-bottom: 1.5rem;
            .project-tile {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: darken($color: $red, $amount: 10);
                border-radius: 1rem;
                width: 32%;
                padding: 0.2rem;
                height: 350px;
                &:hover {
                    z-index: 1;
                    background-color: darkgoldenrod;
                    transition: 0.5s;
                    height: 600px;
                    img {
                        width: 350px;
                        transition: 0.5s;
                    }
                }
                h4 {
                    font-size: 1.5rem;
                    height: 2.5rem;
                    text-align: center;
                }
                img {
                    border-radius: 1rem;
                    width: 130px;
                    margin-top: 1rem;
                }
                div {
                    text-align: center;
                    padding: 1rem;
                    a {
                        background-color: $red;
                        padding: 0.5rem 7rem;
                        margin: 2rem 0;
                        border-radius: 1rem;
                    }
                    p {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

#contact {
    article {
        padding: 2rem;
        a {
            img {
                width: 200px;
            }
        }
    }
}