/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

h1,
h2 {
  width: 100%;
  text-align: center;
}

h2,
h3 {
  font-size: 3rem;
}

body {
  background-color: #363636;
  color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

#container {
  max-width: 1300px;
  width: 100%;
}

a {
  color: #f6f6f6;
  text-decoration: none;
}

.btn {
  text-align: center;
  border: solid 0.15rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  background-color: #086cca;
}
.btn:hover {
  color: #252525;
  background-color: #72b8f9;
}

section {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #1b1b1b;
  height: 3rem;
  max-width: 1300px;
}
nav header {
  padding-left: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 1rem;
}

nav ul li {
  padding: 0.7rem;
  text-transform: uppercase;
}

section header {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 4rem;
}

#welcome-section {
  align-items: center;
}
#welcome-section h1 {
  width: 100%;
  font-size: 4rem;
  padding-bottom: 10%;
}
#welcome-section h2 {
  width: 100%;
  font-size: 2rem;
  padding-bottom: 10%;
}
#welcome-section a {
  display: block;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  transition: 0.6s;
}
#welcome-section a:hover {
  margin-left: 25%;
  margin-right: 25%;
}

#about {
  background-color: #ffba00;
  text-align: center;
}
#about h4 {
  margin-bottom: 6rem;
  font-size: 1.3rem;
}
#about #skills {
  display: flex;
  justify-content: center;
}
#about #skills ul {
  width: 20%;
}
#about #skills ul li {
  height: 26px;
  text-transform: uppercase;
}

.value {
  margin-top: 3px;
  background-color: #e9003a;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  text-indent: -9999px;
}

.total {
  margin-top: 3px;
  background-color: #f6f6f6;
  height: 20px;
  display: inline-block;
  text-indent: -9999px;
  line-height: 26px;
}

.skilltxt {
  line-height: 26px;
  height: 20px;
  width: 150px;
  flex: none;
  display: inline-block;
}

#htmlval {
  width: 70px;
}

#htmltot {
  width: 30px;
}

#cssval {
  width: 70px;
}

#csstot {
  width: 30px;
}

#javascriptval {
  width: 50px;
}

#javascripttot {
  width: 50px;
}

#sassval {
  width: 50px;
}

#sasstot {
  width: 50px;
}

#jqueryval {
  width: 20px;
}

#jquerytot {
  width: 80px;
}

#reactval {
  width: 1px;
}

#reacttot {
  width: 99px;
}

#pythonval {
  width: 1px;
}

#pythontot {
  width: 99px;
}

#projects {
  background-color: #e9003a;
  height: 100%;
}
#projects header {
  height: 5rem;
  display: block;
  padding-bottom: 5rem;
}
#projects article {
  width: 95%;
  display: flex;
  flex-direction: column;
}
#projects article .under-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.3rem;
  padding-bottom: 1.5rem;
}
#projects article .under-section .project-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #b6002d;
  border-radius: 1rem;
  width: 32%;
  padding: 0.2rem;
  height: 350px;
}
#projects article .under-section .project-tile:hover {
  z-index: 1;
  background-color: darkgoldenrod;
  transition: 0.5s;
  height: 600px;
}
#projects article .under-section .project-tile:hover img {
  width: 350px;
  transition: 0.5s;
}
#projects article .under-section .project-tile h4 {
  font-size: 1.5rem;
  height: 2.5rem;
  text-align: center;
}
#projects article .under-section .project-tile img {
  border-radius: 1rem;
  width: 130px;
  margin-top: 1rem;
}
#projects article .under-section .project-tile div {
  text-align: center;
  padding: 1rem;
}
#projects article .under-section .project-tile div a {
  background-color: #e9003a;
  padding: 0.5rem 7rem;
  margin: 2rem 0;
  border-radius: 1rem;
}
#projects article .under-section .project-tile div p {
  margin-top: 1rem;
}

#contact article {
  padding: 2rem;
}
#contact article a img {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
